{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<div class="display-table">
    <div class="display-table-cell">
        
        <h1 class="title"><b>XYZ Private Bank </b></h1>
        <p class="desc font-white">A simple login system using federated learning face recognition</p>
    
        <a class="notify-btn" href="/home/register/"><b>Register</b></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="notify-btn" href="/home/login/"><b>Login</b></a>
        
    </div><!-- display-table -->
</div><!-- display-table-cell -->

{% endblock %}