{% extends 'base.html' %}

{% block head %}
<title>Home</title>
<style>
    .topright {
        position: absolute;
        top: 8px;
        right: 16px;
        font-size: 14px;
    }
    label{
        background: transparent;
        font-family: Raleway-SemiBold;
        font-size: 18px;
        color: #333333;
        line-height: 1.2;
    }
</style>
{% endblock %}

{% block body %}
<div class="display-table">
    <a class="notify-btn topright" href="/home/configuration"> Configure Model Server</a>  
    <div class="display-table-cell">
        <div style="margin-top: 11%;">
            <h1 class="title"><b>KINETIC AI  </b></h1>
            <p class="desc font-white">A simple login system using federated learning face recognition</p>
        
            <a class="notify-btn" href="/home/register/"><b>Register</b></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="notify-btn" href="/home/login/"><b>Login</b></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           
        </div>

        
    </div><!-- display-table -->
</div><!-- display-table-cell -->

{% endblock %}